body {
    background-color: black;
    height: 2600px;
}

.logo {
    position: center;
    margin: 8px 0px 0px 1px;
    margin-left: 20%;
    top: 32px;
    font-size: 20px;
    color: chartreuse;
    left: 30px;
}

img.logo {
    border-radius: 25px;
    height: 122px;
}

.nav {
    display: inline-block;
    box-sizing: border-box;
    background-color: rgb(25, 28, 31);
    width: 103%;
    height: 60px;
    margin-block: 0px;
    position: absolute;
    top: 130px;
    left: -10px;

}

.nav ul {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.nav ul li {
    position: relative;
    font-family: 'Microsoft YaHei Light';
    display: inline-block;
    list-style: none;
}

.nav ul li a {
    padding: 0 10px;
    display: block;
    line-height: 60px;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Microsoft YaHei Light';


}

.nav li a {
    display: inline-block;
    color: rgb(250, 252, 247);
    text-decoration: none;
    font-size: 19px;
    font-family: 'Microsoft YaHei Light';


}

.nav li a:hover {
    color: rgb(24, 221, 67);

    border-radius: 4px;

}

.nav li {
    display: inline-block;
    padding: 0px 5px;
    /* font-style: bold; */

}
.loginwaa{
    padding: 0px 0px 0px 1000px;
}

.rightdown {
    color: aquamarine;
    background-color: rgb(25, 28, 31);
    width: 47%;
    height: 610px;
    display: inline-block;
    text-justify: auto;
    text-anchor: middle;
    padding-right: 50px;
    padding-left: 78px;
    position: absolute;
    left: 700px;
    top: 170px;
    font-family: 'Microsoft YaHei Light';
}

.leftdown {
    color: aquamarine;
    background-color: rgb(25, 28, 31);
    width: 700px;
    height: 585px;
    display: inline-block;
    position: absolute;
    right: 905px;
    top: 190px;
}

.leftdown img {
    height: 585px;
    width: 810px;
}

.OURservices {
    display: block;
    background-color: black;
    width: 100%;
    height: 500px;
    margin: auto;
    position: absolute;
    top: 745px;
    margin: 30px auto;
    font-family: 'Microsoft YaHei Light';
    font-size: 14PX;

}

.OURservices p:hover {
    color: chartreuse;
}


.heading {
    font-size: 60px;
    text-align: center;
    color: aliceblue;
    font-family: 'Microsoft YaHei Light';
    padding-bottom: 0px;
}

.ats {
    font-size: 60px;
    text-align: center;
    color: aliceblue;
    font-family: 'Microsoft YaHei Light';
}

.ex {
    font-size: 20px;
    text-align: center;
    color: aliceblue;

}

.about {
    font-size: 14px;
    text-align: center;
    color: aliceblue;

}

.OURservices {
    font-size: 20px;
    text-align: center;
    color: aliceblue;
    font-size: 30px;
    font-family: 'Microsoft YaHei Light';

}

.property {
    background-image: url();
    background-color: rgb(2, 6, 10);
    display: inline-block;
    height: 400px;
    width: 300px;
    position: relative;
    top: 200px;
    right: 580px;
}

hr {
    color: darkgrey;
    position: absolute;
    top: 1500px;
    width: 100%;
}

.details {
    background-color: rgb(13, 17, 20);
    height: 800px;
    width: 40%;
    position: absolute;
    top: 1573px;
    right: 0px;
    padding: 0px 0px;

}

.details h1 {
    color: aliceblue;
    position: relative;
    left: 5px;
}

.details div p {
    padding: 0px 0px;
    color: rgb(251, 251, 252);
    font-size: 20px;
    position: relative;
    right: 0px;
    inline-size: 300px;
    height: 30px;
    justify-content: end;
    padding: 0px 0px;
    margin: 21px -30px -6px -3px;
    font-family: 'Microsoft YaHei Light';

}

.input input {
    text-align: left;
    justify-content: left;
    font-size: 15px;
    justify-content: left;
    display: flex;
    inline-size: 393px;
    height: 37px;
    width: 600px;
    border-radius: 0px;
    background-color: rgb(21, 27, 16);
    border-color: aliceblue;
    color: white;
    font-size: 14px;
    font-family: 'Microsoft YaHei Light';


}

.button {
    margin: 23px 10px 10px 0px;
    height: 37px;
    width: 114px;
    font-size: 20px;
    background-color: rgb(57, 65, 51);
    border-color: white;
    border-radius: 12pX;
    font-family: 'Microsoft YaHei Light';

}

.inner_input input {
    display: inline-block;
    padding: 3px;
    inline-size: 393px;
    height: 37px;
    width: 597px;
    border-radius: 0px;
    background-color: rgb(21, 27, 16);

}

.biggerbox textarea{
    display: flex;
    padding: 3px;
    inline-size: 393px;
    height: 133px;
    width: 597px;
    text-align: start;
    border-radius: 0px;
    background-color: rgb(21, 27, 16);
    color: aliceblue;
    font-size: 15px;
    font-family: 'Microsoft YaHei Light';


}

.left_details {
    background-color: rgb(13, 17, 20);
    height: 800px;
    width: 60%;
    position: absolute;
    top: 1550px;
    left: 0px;
    padding: 0px 0px;
    z-index: -1;
}

.maindetails {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 1594px;
    padding: 65px 20px;
    margin: 10px 15px;
}

.adress {
    width: 362px;
    font-size: 18px;
    margin: 0px 13px;
    padding: 40px 0px 10px 190px;
    text-align: center;
    justify-content: center;
    font-family: 'Microsoft YaHei Light';

}

.firstline {
    font-size: 50px;
    font-weight: 100;
    padding: 0px 44px 44px 210px;
    margin: 0px 0px 0px 0px;
    font-family: 'Microsoft YaHei Light';

}

.number {
    width: 362px;
    font-size: 18px;
    margin: 0px 13px;
    padding: 40px 0px 10px 190px;
    text-align: center;
    justify-content: center;
    font-family: 'Microsoft YaHei Light';

}
.logodown {
    position: absolute;
    top: 2350px;
    left: 600px;
    opacity: 4.4;


}

.mail {
    color: chartreuse;
    position: absolute;
    top: 2490px;
    left: 650px;
    opacity: 0.7;
    font-size: 22px;
    font-family: 'Microsoft YaHei Light';

}

.y {
    position: relative;



}

#mar {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 2400px;
    align-items: center;
    color: white;
    height: 40px;
    width: 100%;
    font-family: 'Microsoft YaHei Light';
}

html,body {
        position: relative;
        height: 700px;
      }
    .swiper {
        width: 100%;
        height: 700px;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: rgb(14, 10, 10);
        height: 400px;
      }

      .swiper-slide img {
        width: auto;
        height: auto;
        max-width: 457px;
        max-height: 553px;
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        position: absolute;
        left: 50%;
        top: 50%;
      }
      .knowmore{
        display: inline-block;
        position: absolute;
        top:750px;
        right: 300px;
        z-index: 1;
      }

      .knowmore a{
        text-decoration: none;
        font-family: 'Microsoft YaHei Light';
    }

 